<app-header></app-header>
<app-nav></app-nav>

<div class="box-div">

    <mat-card>

        <mat-card-title>Movimentação</mat-card-title>

        <form>

            <mat-form-field>
                <input matInput placeholder="quantidade" [(ngModel)]="movimentacao.quantidade" name="quantidade">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="tipo_movimentacao" [(ngModel)]="movimentacao.tipo_movimentacao"
                    name="tipo_movimentacao">
                   <!-- Default unchecked -->
<div class="custom-control custom-radio">
    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
    <label class="form-check-label" for="materialUnchecked">Entrada</label>
    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" mdbInput>
    <label class="custom-control-label" for="defaultUnchecked">Ativo</label>
    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" mdbInput>
    <label class="custom-control-label" for="defaultUnchecked">Inativo</label>
  </div>
  
  
  <!-- Material unchecked -->
<div class="form-check">
    <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
    <label class="form-check-label" for="materialUnchecked">Saida</label>
    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" mdbInput>
    <label class="custom-control-label" for="defaultUnchecked">Ativo</label>
    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" mdbInput>
    <label class="custom-control-label" for="defaultUnchecked">Inativo</label>
  </div>
  
  
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="id_usuario" [(ngModel)]=" movimentacao.id_usuario" name="id_usuario">
            </mat-form-field>

            <!-- <mat-form-field>
                <mat-select>
                    <mat-option *ngFor="let movimentacoes of movimentacoes" [value]="movimentacao.id_produto">
                        {{ movimentacoes.id_produto }}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->

            <mat-form-field>
                <mat-select [(ngModel)]="movimentacao.id_produto" name="id_produto">
                    <mat-option *ngFor="let movimentacoes of movimentacoes" [value]="movimentacoes">
                        {{ movimentacoes.id_produto }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </form>

        <button mat-raised-button (click)="createmovimentacao()" color="primary">
            Salvar
        </button>

        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>

    </mat-card>

</div>