<app-header></app-header>
<app-nav></app-nav>


<div class="box-div">

<mat-card>
    <mat-card-title>Movimentação</mat-card-title>
    <form>
        
        <mat-form-field>
            <input matInput placeholder="data_hora"
                [(ngModel)]="movimentacao.data_hora" name="data_hora">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="login_usuario"
                [(ngModel)]="movimentacao.login_usuario" name="login_usuario">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="nome_produto"
                [(ngModel)]="movimentacao.nome_produto" name="nome_produto">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="quantidade"
                [(ngModel)]="movimentacao.quantidade" name="quantidade">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="tipo_movimentacao"
                [(ngModel)]="movimentacao.tipo_movimentacao" name="tipo_movimentacao">
        </mat-form-field>
       
    </form>

    <button mat-raised-button (click)="createmovimentacao()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

</div>
